@media screen and (max-width:770px){
    .service-single{
        flex-basis: 100%;
        margin-bottom: 30px;
                   }
    .service-desc p {
    font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .single-service:hover .service-desc{
        bottom: 25% !important;
    }
}